# Python

# Variáveis
___

Variáveis são espaços na memória do computador que possuem valores acessáveis. Utilizamos um símbolo de igual ```=```, também chamado de símbolo de atribuição para criar variáveis.

In [ ]:
## atribuição simples

a = 10
b = 20

In [ ]:
print(a)
print(b)

In [ ]:
## atribuição múltipla

a,b,c = 30,40,50

In [ ]:
print(a)
print(b)
print(c)

In [ ]:
nome = 'João'

In [ ]:
print(nome)

É importante entender que o identificador é único e recebe somente um valor por vez, para criarmos conjuntos de valores foram criadas estruturas de dados (dicionários, arrays, listas, tuplas). Se usarmos um identificador mais de um vez ele terá seu valor sobreescrito pelo valor mais recente. Exemplo:

In [ ]:
nome = 'Nasser'

In [ ]:
print(nome)

Vale a pena notar que ao criar variáveis, seus identificadores (ou nomes) devem seguir algumas regras. As variáveis podem ter números e letras, porém não podemos iniciar o nome de variáveis com números e nem utilizar algumas palavras reservadas pelo sistema. A criação de identificadores também é sensível a caixa alta, sendo considerado diferentes identificadores escritos de formas diferentes.

In [ ]:
minha_primeira_variavel = 100

In [ ]:
12_idade_joao = 15

In [ ]:
idade_joao_12 = 15

In [ ]:
return = 15

A palavra reservada return já descreve um comando nativo do python que não pode ser substituído e por isso não podemos utilizar esse identificador para criar uma variável. Segue uma lista de palavras reservadas em python.

![](https://community.revelo.com.br/content/images/2023/02/image-38.png)

# Tipos de dados
___

As variáveis podem receber dados e objetos. Pode-se dividir os dados em 4 tipos diferentes, cada tipo de dado tem sua particularidade e pode ser utilizado em situações específicas. Todo código em python vai ter, em seu processamento, que lidar com esses tipos de dados, são eles:

* **string (str)** - valores textuais, representados por aspas (simples ou duplas) ou criados através da função str()
* **integer (int)** - valores númericos inteiros, criados através da função int()
* **float (float)** - valores numéricos fracionários, também chamados de valores flutuantes, criados através da função float()
* **boolean (bool)** - valores booleanos, só assumem dois valores possíveis ```True``` e ```False```. Computacionalmente True pode ser representado pelo valor 1 e False por 0.

É possível descrobrir o tipo de um dado usando a função type().

In [ ]:
## uma string

x = "Nasser falou : 'meu pedido chegou!'."
type(x)

In [ ]:
## um integer

x = 150
type(x)

In [ ]:
## um float

carros = 275
pessoas = 1389

x = carros/pessoas
type(x)

In [ ]:
## função round para arredondar valores flutuantes

round(x,6)

In [ ]:
x

In [ ]:
## um boolean

x = True
type(x)

In [ ]:
True + False

É interessante notar que o simples fato de atribuirmos um valor a uma variável o tipo do dado já é reconhecido, ou seja, não há necessidade de declarar a variável ou o tipo de dados que será guardado.

# Operadores Aritiméticos
___

Operações aritiméticas são necessárias para qualquer trabalho de processamento, utilizando variáveis podemos executar operações matemáticas de forma dinâmica. Esses são os operadores matemáticos utilizados em python.

| Operador |            Ação            |
|:--------:|:--------------------------:|
|     -    |          subtração         |
|     +    |           adição           |
|     *    |        multiplicação       |
|     /    |        divisão       |
|     %    |  módulo da divisão (resto) |
|    **    |         potenciação        |
|    +=    |      incremento (soma)     |
|    *=    | incremento (multiplicação) |
|    -=    |   decremento (subtração)   |

Para utilizar qualquer uma das operações demonstradas acima, basta escrever o operador associado com as variáveis, bem similar a uma fórmula matemática comum.

In [ ]:
## subtração

28 - 3

In [ ]:
## adição

28 + 28

In [ ]:
## multiplicação

28 * 1.5

In [ ]:
## módulo

55 % 10

In [ ]:
## potências

10**2

In [ ]:
quantide_recomendada_por_kg = 30
peso = 95

agua_por_dia = quantide_recomendada_por_kg * peso
agua_por_dia

In [ ]:
## incremento

x = 10
x += 5
print(x)

In [ ]:
## incremento (multiplicação)

x = 10
x *= 2.2
print(x)

In [ ]:
## decremento

x = 10
x -= 2.5
print(x)

# f-string
___

Existe um recurso em python chamado de f-string, sua principal função é adicionar variáveis junto a texto de uma forma fácil. Esse recurso funciona muito bem com a função ```print()```, mas também pode ser utilizado em strings puras e até docstrings (strings de documentação).Para utiliza-la basta colocar a letra ```f``` antes de abrir as aspas de uma string e colocar a variável desejada entre ```{}``` (chaves).

In [1]:
idade_do_cliente = 10

print(f'A idade digitada foi {idade_do_cliente} anos!')

A idade digitada foi 10 anos!

# Estrutura de Dados
___

Estruturas de dados são uma forma de organizar e armazenar dados para que possam ser acessados e trabalhados de forma eficiente. Elas definem a relação entre os dados e as operações que podem ser executadas neles. Existem vários tipos de estruturas de dados definidas que tornam mais fácil para os cientistas de dados se concentrarem na solução de problemas maiores, em vez de se perderem nos detalhes da descrição e acesso aos dados.

Em python existem as seguintes estruturas de dados: listas, tuplas, dicionários, coleções (sets). As mais utilizadas no dia-a-dia de um cientista de dados são as listas, tuplas, dicionários e são nelas que esta matéria irá focar.

## Listas
___

A lista é, provavelmente, a estrutura de dados mais utilizada e mais básica em python. Ela é uma coleção ordenada, mutável e iterável também podendo ser heterogênea, ou seja, receber diversos tipos de dados. Ela tem vários métodos (funcionalidades do objeto lista) que podem auxiliar na organização e manipulação de dados. Alguns exemplos de lista:

In [2]:
lista_de_inteiros = [1,2,3,4,5] ## lista de integers
lista_heterogenea = ['nasser',1.71,100, True]
lista_de_lista = [[1,2,3,4],
                  [5,6,7,8]]

Podemos encontrar o tamanho de uma lista utilizando a função ```len()```

In [3]:
print(len(lista_de_inteiros))
print(len(lista_heterogenea))
print(len(lista_de_lista))

5
4
2

Também é possivel criar listas vazias!

In [4]:
cidades_que_visitei = []
cidades_que_visitei

[]

In [5]:
cidades_que_visitei = ['Brasília','Cairo','Tel-Aviv','Paris','Jerusalem','Eilat']
cidades_que_visitei

['Brasília', 'Cairo', 'Tel-Aviv', 'Paris', 'Jerusalem', 'Eilat']

Podemos acessar dados de uma lista utilizando a localização do dado a ser recuperado, iniciando a conta por ```zero```!

![lista](imgs/lista.png)

Ou seja, o primeiro valor tem o índice ```0 (zero)``` e os próximos seguem normalmente a contagem.

In [6]:
## acessando o primeiro valor

len(cidades_que_visitei[0])

8

In [7]:
## acessando o segundo valor

cidades_que_visitei[1]

'Cairo'

In [8]:
## acessando o quarto valor

cidades_que_visitei[3]

'Paris'

É possível reatribuir o valor em qualquer posição de uma lista, para isso basta selecionar o índica da lista que deseja alterar e atribuir um novo valor a ela.

In [9]:
cidades_que_visitei[4]

'Jerusalem'

In [10]:
cidades_que_visitei[4] = 'Jerusalém'

In [11]:
cidades_que_visitei[4]

'Jerusalém'

In [12]:
cidades_que_visitei

['Brasília', 'Cairo', 'Tel-Aviv', 'Paris', 'Jerusalém', 'Eilat']

Uma forma simples e bastante poderosa de selecionar valores dentro de uma lista é utilizando a técnica de fatiamento. Ela permite que a seleção de valores dentro de uma janela com início e fim, para isso basta utilizar ```:``` .

In [13]:
## a função range(n) cria uma lista com valores de zero até n.

lista_100 = list(range(100))

In [14]:
## usando fatiamento

primeiros_3 = lista_100[:3]
primeiros_3

[0, 1, 2]

In [15]:
cidades_que_visitei[0:2]

['Brasília', 'Cairo']

In [16]:
cidades_que_visitei[:2]

['Brasília', 'Cairo']

In [17]:
cidades_que_visitei[:]

['Brasília', 'Cairo', 'Tel-Aviv', 'Paris', 'Jerusalém', 'Eilat']

In [18]:
cidades_que_visitei[2:]

['Tel-Aviv', 'Paris', 'Jerusalém', 'Eilat']

In [19]:
cidades_que_visitei[3:5]

['Paris', 'Jerusalém']

Perceba que o indice no lado esquerdo o sinal de dois-pontos é inclusivo e do lado direito é exclusivo (ou seja, não retorna o valor). Também é possível selecionar os valores começando a contagem do final da lista porém, nessa situação, a contagem começa com 1 e é negativa.

In [20]:
cidades_que_visitei

['Brasília', 'Cairo', 'Tel-Aviv', 'Paris', 'Jerusalém', 'Eilat']

In [21]:
cidades_que_visitei[-1]

'Eilat'

In [22]:
cidades_que_visitei[-5:-2]

['Cairo', 'Tel-Aviv', 'Paris']

Listas podem ser heterogeneas, ou seja, podemos colocar outras listas dentro dela, outras estruturas de dados e até objetos mais complexos.

In [23]:
paises_que_visitei = ['Brasil',{'Jerusalem':5,'Tel-Aviv':2,'Eilat':1},('França','Paris')]

In [24]:
len(paises_que_visitei)

3

In [25]:
type(paises_que_visitei[0])

str

In [26]:
type(paises_que_visitei[1])

dict

In [27]:
type(paises_que_visitei[2])

tuple

### Métodos de Listas

Métodos são pequenos funcionalidades de um objeto que podemos utilizar para manipular os dados desse objeto. Todo objeto igual, independente do seu conteúdo, possui os mesmos métodos. Os métodos de um objeto podem ser acessados colocar um ```.``` ao final do variável e escrevendo seu nome.

Os métodos de listas mais utilizados são os seguintes:

![](imgs/lista3.png)

In [30]:
cidades_que_visitei

['Brasília', 'Cairo', 'Tel-Aviv', 'Paris', 'Jerusalém', 'Eilat']

In [33]:
## adicionando a cidade Araxá ao final da lista

cidades_que_visitei.append('Araxá')

In [34]:
cidades_que_visitei

['Brasília',
 'Cairo',
 'Tel-Aviv',
 'Paris',
 'Jerusalém',
 'Eilat',
 'Araxá',
 'Araxá']

In [47]:
## contando quantas vezes a palavra 'Eilat' aparece na lista

cidades_que_visitei.count('Araxá')

2

In [48]:
cidades_que_visitei.append('Araxá')

In [50]:
cidades_que_visitei

['Brasília',
 'Cairo',
 'Tel-Aviv',
 'Paris',
 'Jerusalém',
 'Eilat',
 'Araxá',
 'Araxá',
 'Araxá']

In [58]:
cidades_que_visitei.count('Araxá')

3

In [59]:
cidades_que_visitei

['Brasília',
 'Cairo',
 'Tel-Aviv',
 'Paris',
 'Jerusalém',
 'Eilat',
 'Araxá',
 'Araxá',
 'Araxá']

In [64]:
[1,1,1,1,1,1,2,2,2,2,2,2,33,3,3,3,3,3].count(3)

5

In [65]:
cidades_que_visitei

['Brasília',
 'Cairo',
 'Tel-Aviv',
 'Paris',
 'Jerusalém',
 'Eilat',
 'Araxá',
 'Araxá',
 'Araxá']

In [77]:
## encontrando o índice da palavra 'Paris'

cidades_que_visitei[cidades_que_visitei.index('Paris')] = 'PARIS'

In [78]:
cidades_que_visitei

['Brasília',
 'Cairo',
 'Tel-Aviv',
 'PARIS',
 'Jerusalém',
 'Eilat',
 'Araxá',
 'Araxá',
 'Araxá']

In [79]:
idx_paris = cidades_que_visitei.index('PARIS')

In [82]:
cidades_que_visitei[idx_paris]

'PARIS'

In [85]:
lista_de_lista

[[1, 2, 3, 4], [5, 6, 7, 8]]

In [86]:
lista_de_lista[0].append(7)

In [87]:
lista_de_lista

[[1, 2, 3, 4, 7], [5, 6, 7, 8]]

In [88]:
lista_de_lista[1].append(9)

In [89]:
lista_de_lista

[[1, 2, 3, 4, 7], [5, 6, 7, 8, 9]]

In [90]:
lista_de_lista.append(10)

In [91]:
lista_de_lista

[[1, 2, 3, 4, 7], [5, 6, 7, 8, 9], 10]

In [111]:
## alterando a ordem da lista (invertendo)

cidades_que_visitei.reverse()
cidades_que_visitei

['Araxá',
 'Araxá',
 'Araxá',
 'Eilat',
 'Jerusalém',
 'PARIS',
 'Tel-Aviv',
 'Cairo',
 'Brasília']

In [113]:
## organizando a lista

cidades_que_visitei.sort()
cidades_que_visitei

['Araxá',
 'Araxá',
 'Araxá',
 'Brasília',
 'Cairo',
 'Eilat',
 'Jerusalém',
 'PARIS',
 'Tel-Aviv']

In [121]:
cidades_que_visitei.append(12)

In [122]:
cidades_que_visitei.sort()
cidades_que_visitei

TypeError: '<' not supported between instances of 'int' and 'str'

In [123]:
cidades_que_visitei.sort()

['*1paris',
 '1paris',
 'Araxá',
 'Araxá',
 'Araxá',
 'Brasília',
 'Cairo',
 'Eilat',
 'Jerusalém',
 'PARIS',
 'Tel-Aviv',
 'paris',
 12]

In [124]:
x = [55,42,12,9,129,0,-10.15,-25,-8]

In [128]:
x.sort()
x

[-25, -10.15, -8, 0, 9, 12, 42, 55, 129]

In [131]:
cidades_que_visitei

['*1paris',
 '1paris',
 'Araxá',
 'Araxá',
 'Araxá',
 'Brasília',
 'Cairo',
 'Eilat',
 'Jerusalém',
 'PARIS',
 'Tel-Aviv',
 'paris',
 12]

In [135]:
idx_do_valor_inteiro = cidades_que_visitei.index('*1paris')
idx_do_valor_inteiro

0

In [136]:
## extraindo um valor da lista

cidades_que_visitei.pop(idx_do_valor_inteiro)
cidades_que_visitei

['1paris',
 'Araxá',
 'Araxá',
 'Araxá',
 'Brasília',
 'Cairo',
 'Eilat',
 'Jerusalém',
 'PARIS',
 'Tel-Aviv',
 'paris']

In [138]:
valor_removido = cidades_que_visitei.pop(0)
valor_removido

'1paris'

In [139]:
cidades_que_visitei

['Araxá',
 'Araxá',
 'Araxá',
 'Brasília',
 'Cairo',
 'Eilat',
 'Jerusalém',
 'PARIS',
 'Tel-Aviv',
 'paris']

In [140]:
## removendo um valor da lista

cidades_que_visitei.remove('Brasília')
cidades_que_visitei

['Araxá',
 'Araxá',
 'Araxá',
 'Cairo',
 'Eilat',
 'Jerusalém',
 'PARIS',
 'Tel-Aviv',
 'paris']

In [141]:
cidades_que_visitei.remove('Araxá')
cidades_que_visitei

['Araxá', 'Araxá', 'Cairo', 'Eilat', 'Jerusalém', 'PARIS', 'Tel-Aviv', 'paris']

Imagine que você possui a lista abaixo. Ela possui valores inteiros, porém, existe um impostor no meio dela, a string '88', encontre o índice dessa string e a substitua pelo valor inteiro 88.

In [ ]:
lista_exercicio = [125,175,785,4,89,25,41,58,56,2,45,4,5,13,65,469,8,8974,654,65,564,2547,87,987,6454,516,54,654,98,7,77,'88',54,7,8,54,5,1,4,7,8,25,4,5,7,8,8,8,5,6,6,6,3,2,5,4,5]

In [148]:
str(4.87)

'4.87'

## Tuplas
___

As tuplas são como listas porém imutáveis, ou seja, não podemos alterar nenhum valor depois que ela for designada. Normalmente é utilizada para guardar informações que em momento algum podem mudar (endereço, cpf, id de usuário). Podemos usar parênteses para definir uma tupla ou a função ```tuple()```.

In [149]:
fundo_imob = ('ALZR11','BBF011','BLMG11','BLCP11','BRCO11')
fundo_imob

('ALZR11', 'BBF011', 'BLMG11', 'BLCP11', 'BRCO11')

In [151]:
## as tuplas são indexadas da mesma forma que as listas

print(fundo_imob[0])
print(fundo_imob[1])
print(fundo_imob[2])

ALZR11
BBF011
BLMG11

In [152]:
## tuplas não suportam alteração de valores

fundo_imob[0] = 'BACON11'

TypeError: 'tuple' object does not support item assignment

In [166]:
fundo_imob

('ALZR11', 'BBF011', 'BLMG11', 'BLCP11', 'BRCO11', 'abc')

In [155]:
## tuplas também podem ser heterogeneas

fundo_imob = tuple(['ALZR11',11,{'BLMG11':97.30},15.2,['BRCO11',16]])
fundo_imob

('ALZR11', 11, {'BLMG11': 97.3}, 15.2, ['BRCO11', 16])

In [157]:
fundo_imob[-1].append(10)

In [158]:
fundo_imob

('ALZR11', 11, {'BLMG11': 97.3}, 15.2, ['BRCO11', 16, 10])

### Métodos de Tuplas

Devido a sua característica imutável, tuplas possuem poucos métodos.

In [164]:
## contando quantos valores aparecem

fundo_imob.count(['BRCO11',16,10])

1

In [161]:
fundo_imob.count(11)

1

In [162]:
## encontrando o índice do valor 15.2

fundo_imob.index(15.2)

3

## Dicionários
___

Os dicionários são outra estrutura de dados em python que também são conhecidas como “memória associativas” ou “vetores associativos”, diferentemente das listas e tuplas, os dicionários são indexados utilizando chaves (keys) e não números. Construímos um dicionário utilizando chaves ```{}``` ou a função ```dict()```. Os dicionários são mutáveis e iteráveis.

In [174]:
meu_dict = {}
type(meu_dict)

dict

In [211]:
meu_dict

{'id001': {'nome': 'nasser',
  'endereço': 'águas claras',
  'total_de_vendas': 5000},
 'id002': {'nome': 'maria',
  'endereço': 'águas claras',
  'total_de_vendas': 2000}}

In [212]:
meu_dict['clientes'] = ['Maria','João','Gilberto','Gabriela','Marcelo']
meu_dict

{'id001': {'nome': 'nasser',
  'endereço': 'águas claras',
  'total_de_vendas': 5000},
 'id002': {'nome': 'maria',
  'endereço': 'águas claras',
  'total_de_vendas': 2000},
 'clientes': ['Maria', 'João', 'Gilberto', 'Gabriela', 'Marcelo']}

Perceba que para adicionar um par ```chave:valor``` basta utilizar uma sintaxe de indexação com atribuição.

In [213]:
meu_dict['endereços'] = {
    'maria':'águas claras',
    'joão':'asa norte',
    'gilberto':'asa sul',
    'gabriela':'samambaia',
    'marcelo':'planaltina'
}

meu_dict

{'id001': {'nome': 'nasser',
  'endereço': 'águas claras',
  'total_de_vendas': 5000},
 'id002': {'nome': 'maria',
  'endereço': 'águas claras',
  'total_de_vendas': 2000},
 'clientes': ['Maria', 'João', 'Gilberto', 'Gabriela', 'Marcelo'],
 'endereços': {'maria': 'águas claras',
  'joão': 'asa norte',
  'gilberto': 'asa sul',
  'gabriela': 'samambaia',
  'marcelo': 'planaltina'}}

In [214]:
meu_dict = {
    'id001':{
        'nome':'nasser',
        'endereço':'águas claras',
        'total_de_vendas':5000
    },
    
    'id002':{
        'nome':'maria',
        'endereço':'águas claras',
        'total_de_vendas':2000
    }
}

Podemos também colocar dicionários dentro de dicionários. Perceba que todo objeto designado como valor ainda mantém seus métodos originais. Então para modifica-lo basta referenciar a chave e utilizar o método deseja do objeto em valor.

In [215]:
meu_dict['id003'] = {'nome':'joão',
                     'endereço':'samambaia',
                     'total_de_vendas':200}

In [216]:
meu_dict

{'id001': {'nome': 'nasser',
  'endereço': 'águas claras',
  'total_de_vendas': 5000},
 'id002': {'nome': 'maria',
  'endereço': 'águas claras',
  'total_de_vendas': 2000},
 'id003': {'nome': 'joão', 'endereço': 'samambaia', 'total_de_vendas': 200}}

In [217]:
## acessando a lista de clientes

meu_dict['clientes']

KeyError: 'clientes'

In [218]:
meu_dict['id003']['total_de_vendas'] += 300

In [219]:
meu_dict

{'id001': {'nome': 'nasser',
  'endereço': 'águas claras',
  'total_de_vendas': 5000},
 'id002': {'nome': 'maria',
  'endereço': 'águas claras',
  'total_de_vendas': 2000},
 'id003': {'nome': 'joão', 'endereço': 'samambaia', 'total_de_vendas': 500}}

In [220]:
pedido = {
    'time_stamp': [],
    'id_do_usuario': [],
    'dados_de_entrada': []
}

resposta = {
    'time_stamp': [],
    'dados_de_resposta': ['classe1'],
    'score_de_confianca': 0.2,
    'tempo_de_inferencia': []
}

In [221]:
if resposta['score_de_confianca'] > 0.7:
    print(resposta['dados_de_resposta'])
else:
    print('O modelo não conseguiu bons resultados')

O modelo não conseguiu bons resultados

### Metodos de Dicionários

Dicionários possuem uma série de métodos que podemos utilizar para acessar partes específicas (chaves ou valores).

In [222]:
meu_dict

{'id001': {'nome': 'nasser',
  'endereço': 'águas claras',
  'total_de_vendas': 5000},
 'id002': {'nome': 'maria',
  'endereço': 'águas claras',
  'total_de_vendas': 2000},
 'id003': {'nome': 'joão', 'endereço': 'samambaia', 'total_de_vendas': 500}}

In [223]:
## acessando chaves

meu_dict.keys()

dict_keys(['id001', 'id002', 'id003'])

In [224]:
## acessando valores

meu_dict.values()

dict_values([{'nome': 'nasser', 'endereço': 'águas claras', 'total_de_vendas': 5000}, {'nome': 'maria', 'endereço': 'águas claras', 'total_de_vendas': 2000}, {'nome': 'joão', 'endereço': 'samambaia', 'total_de_vendas': 500}])

In [225]:
## acessando chaves e valores

meu_dict.items()

dict_items([('id001', {'nome': 'nasser', 'endereço': 'águas claras', 'total_de_vendas': 5000}), ('id002', {'nome': 'maria', 'endereço': 'águas claras', 'total_de_vendas': 2000}), ('id003', {'nome': 'joão', 'endereço': 'samambaia', 'total_de_vendas': 500})])

In [226]:
## extraindo um valor e jogando fora a chave

cliente_003 = meu_dict.pop('id003')

In [227]:
cliente_003

{'nome': 'joão', 'endereço': 'samambaia', 'total_de_vendas': 500}

In [228]:
meu_dict

{'id001': {'nome': 'nasser',
  'endereço': 'águas claras',
  'total_de_vendas': 5000},
 'id002': {'nome': 'maria',
  'endereço': 'águas claras',
  'total_de_vendas': 2000}}

In [229]:
meu_dict['id003'] = cliente_003

In [230]:
meu_dict

{'id001': {'nome': 'nasser',
  'endereço': 'águas claras',
  'total_de_vendas': 5000},
 'id002': {'nome': 'maria',
  'endereço': 'águas claras',
  'total_de_vendas': 2000},
 'id003': {'nome': 'joão', 'endereço': 'samambaia', 'total_de_vendas': 500}}

In [232]:
meu_dict['id005']

KeyError: 'id005'

In [244]:
meu_dict

{'id001': {'nome': 'nasser',
  'endereço': 'águas claras',
  'total_de_vendas': 5000},
 'id002': {'nome': 'maria',
  'endereço': 'águas claras',
  'total_de_vendas': 2000},
 'id003': {'nome': 'joão', 'endereço': 'samambaia', 'total_de_vendas': 500}}

In [254]:
## usando get para acessar um valor

id_do_cliente = '002'

valor_do_cliente = meu_dict.get(f'id{id_do_cliente}', f'Não encontrei o cliente com o id{id_do_cliente}.')

print(valor_do_cliente)

{'nome': 'maria', 'endereço': 'águas claras', 'total_de_vendas': 2000}

In [246]:
meu_dict['id999']

KeyError: 'id999'

O método ```.get()``` retorna o valor associado a uma chave, porém se essa chave não existir ele não levanta nenhuma mensagem de erro como a indexação tradicional faria. Entender esse comportamento é muito importante para montar algoritmos que possam atuar sem intervenção humana.

# Operadores Lógicos e Relacionais
___

Os operadores relacionais são utilizados para testar condições utilizando variáveis. O retorno de uma condição sempre será avaliado com True (verdadeiro) ou False (falso). 

| Descrição         | Símbolo |
|-------------------|---------|
| Igual a           | ==       |
| Diferente de      | != |
| Maior que         | >       |
| Menor que         | <       |
| Maior ou igual a  | >=      |
| Menor ou igual a  | <=      |


Podemos utilizar operadores lógicos para criar condições mais complexas. Os operadores lógicos utilizados em python são os seguintes.

| Operador Lógico | Operador em python |
|-----------------|--------------------|
| E               | and                |
| OU              | or                 |
| NÃO             | not                |

In [265]:
10 > 2

True

In [266]:
5 > 5

False

In [267]:
5 >= 5

True

In [268]:
a = 25
b = 32

a/2 > b**0.5

True

In [285]:
## multiplas condições

(a/5 > 4) and (b > 50)

False

In [270]:
a/5 > 4

True

In [271]:
b > 50

False

Veja que a primeira parte da condição é avaliada como True (verdadeira) e a segunda parte é avaliada como False (falso). Utilizando o operador lógico ```and``` para unir as duas partes da condição acima chegamos no resultado False.

In [278]:
## multiplas condições
a = 10
b = 5

(a > 100) or (b == 5)

True

# Estruturas condicionais
___

Tendo a capacidade de avaliar condições pode-se criar algoritmos mais dinâmicos e que tenham saídas dependentes das entradas. Utiliza-se estruturas condicionais para criar caminhos alternativos dentro de um algoritmo, esses caminhos alternativos podem (ou não) serem ativados de acordo com a condição avaliada.

Imagine que, para passar de uma matéria na faculdade, é necessário uma nota final maior do que 5. Podemos montar um algoritmo para definir se um aluno passou ou não. O diagrama desse algoritmo ficaria da seguinte forma:

![aluno](imgs/aluno_if.png)

Existem duas saídas possíveis, para criar esse caminho alternativo utilizamos a sintaxe ```if ... else``` (se então, senão). Essa estrutura avalia a condição entregue e segue pelo caminho determinado pelo resultado da condição. Ou seja, ```se (if)``` o aluno tiver uma média maior ou igual a 5 ele é aprovado ```senão (else)``` ele é reprovado. Em python o algoritmo acima ficaria da seguinte forma:

In [286]:
media = 4.99

if media >= 5.0:
    print('Aluno Aprovado')
else:
    print('Aluno Reprovado')

Aluno Reprovado

In [287]:
media = 9.5

if media >= 5.0:
    print('Aluno Aprovado')
else:
    print('Aluno Reprovado')

Aluno Aprovado

In [293]:
media = 9.9

if media > 9:
    print('Parabéns')
else:
    if media >= 5:
        print('Aluno Aprovado')
    else:
        print('Aluno Reprovado')
        
print('Nos vemos no ano que vem')

Parabéns
Nos vemos no ano que vem

Perceba o bloco de código a ser executado fica abaixo da condição testada como verdadeira e é antecedida por 4 espaços (1 TAB). Podemos adicionar mais estruturas condicionais dentro de outras de forma aninhada. Para isso, imagine o mesmo problema demonstrado acima, porém após avaliar alunos com média acima de 5 devemos entender se estes possuem média também maior ou igual a 7, em caso positivo eles serão aprovados, para notas menores do que 7 e maiores do que 5 o aluno deverá realizar outra avaliação. O diagrama para essa situação fica da seguinte forma:

![aluno2](imgs/algoritmo2.png)

Em python:

In [294]:
media = 6.8

if media >= 5:
    if media >= 7:
        print('Aluno Aprovado!')
    else:
        print('Fazer outra avaliação!')
else:
    print('Aluno Reprovado')

Fazer outra avaliação!

In [295]:
media = 9

if media >= 5:
    if media >= 7:
        print('Aluno Aprovado!')
    else:
        print('Fazer outra avaliação!')
else:
    print('Aluno Reprovado')

Aluno Aprovado!

In [296]:
media = 4

if media >= 5:
    if media >= 7:
        print('Aluno Aprovado!')
    else:
        print('Fazer outra avaliação!')
else:
    print('Aluno Reprovado')

Aluno Reprovado

Porém existem casos que não são facilmente descritos por condições binárias sendo necessário um cojunto maior de condições a serem avaliadas. Para isso utilizamos a sintaxe ```elif``` que singnifica ``` else if ``` ou seja, quando a condição anterior for avaliada como ```False``` o código deverá avaliar mais uma condição antes da saída do algoritmo.

A avaliação de velocidade de uma música pode receber alguns nomes, em casos de músicas com bpm (batida por minuto) maior ou igual a 40 usa-se o termo 'Largo', para músicas com bpm maior do que 60 utiliza-se 'Adagio', para músicas com bpm maior ou igual a 140 e menor ou igual a 200 utiliza-se 'Presto'. Como esse algoritmo avaliaria 4 músicas com bpms, 41, 75, 112 e 189?

In [301]:
bpm = 98

if bpm >= 40 and bpm <= 60:
    print('Largo')
elif bpm > 60 and bpm <= 80:
    print('Adagio')
elif bpm >= 140 and bpm <= 200:
    print('Presto')
else:
    print('BPM não determinado!')

BPM não determinado!

# Estruturas de Repetição
___

As estruturas de repetição (ou loops) são bastante utilizadas quando queremos executar um bloco de código até atingirmos uma condição específica, que pode ser o final de um objeto (final de lista), ou uma condição expressamente descrita. Existem duas estruturas de repretição que são utilizadas em códigos python. O loop ```for``` e o ```while```.

## for

O loop ```for``` percorre todo um objeto iterável e executa um bloco de código para cada um dos valores associados a uma variável determinada no próprio loop. Um exemplo de loop for aplicado a listas:

In [ ]:
ls = [1,2,3,4,5,6,7,8,9,10]

for op in ls:
    print(op)

A sintaxe do loop começa com a palavra reservada seguida de uma variável temporária que é criada e utilizada durante a execução do loop, outra palavra reservada e o objeto iterável. A variável temporária é atualizada a cada iteração do loop, ou seja, a cada execução essa variável recebe um novo valor.

In [ ]:
for valor in ls:
    print(valor**3)

In [ ]:
## for com if

for valor in ls:
    if valor % 2 == 0:
        print('Valor Múltiplo de 2')
    else:
        print(valor)

In [ ]:
contador = 0
ls_multiplos = []


for idx in ls:
    
    if contador == 3:
        break
    
    print('inicio',contador)
    
    if idx % 2 == 0:
        contador += 1
        print('depois',contador)
        
        ls_multiplos.append(idx)
    else:
        print(idx)

In [ ]:
ls_multiplos

Podemos utilizar a palavra reservada ```break``` para interromper o processo de iteração e execução do código. Vamos criar um algoritmo que avalie se cada valor de um lista é ou não divisível por 2, em caso positivo ele pega esse valor e o adiciona à variável ```soma``` quando a variável ```soma``` for maior do que 300 devemos para a execução.

In [ ]:
## for com break

new_ls = list(range(1,500))

soma = 0

for valor in new_ls:
  
    if soma > 300:
        break
    
    if valor % 2 == 0:
        print(f"O valor {valor} é válido!")
        print(f"SOMA antes", soma)
        soma += valor
        print(f"SOMA depois {soma}\n----------")

Podemos estruturas de repetição com strings. Elas são iteráveis a nível de caractere, ou seja, cada iteração será feita com um caractere do texto.

In [ ]:
tweet = "Bom dia, ótima semana a todos ..."

In [ ]:
for palavra in tweet.lower().strip('...').strip(' ').split():
    print(palavra)

In [ ]:
for x in tweet.split():
    print(x)

In [ ]:
ls_unidades = [1,2,3]
ls_dezenas = [10,20,30]

for unidade in ls_unidades:
    
    for dezena in ls_dezenas:
        print(dezena,unidade)

É possível utilizar a palavra reservada ```else``` associada ao loop for.Quando ambas aparecem em um mesmo nível o bloco de código abaixo do ```else``` será executado ao final do loop for.

In [ ]:
## for com else
cidades = ["Brasília", "Bananal", "São Paulo", "São Luís"]

for cidade in cidades:
    print(cidade)
else:
    print("Acabaram as cidades")

Ao iterar (utilizando loop for) sobre listas é possível utilizar-se de uma sintaxe reduzida **chamada de compreensão de lista.** Ela é particularmente útil quando o resultado necessário também uma lista.

In [ ]:
## compreensão de lista

ls = [1,2,3,4,5]
new_ls = []

for valor in ls:
    new_ls.append(valor**3)

In [ ]:
new_ls

No exemplo acima, para termos o cubo de todos os valores de uma lista em outra é necessário iterar sobre cada um dos valores da lista ```ls```, instanciar uma lista vazia chamada ```new_ls``` e criarmos um ```loop for``` onde a cada iteração o cubo do valor é adicionado a ```new_ls```. Utilizando compreensão de lista conseguimos o mesmo resultado, porém com somente uma linha.

In [ ]:
## compreensão de lista

new_ls = [valor**3 for valor in ls]
new_ls

In [ ]:
corpus = ['bom dia nao gostei','boa noite gostei bastante']

sentiment_ls = []

for frase in corpus:
    lista_de_palavras = frase.split()
    
    lista_sentimento = []
    
    for palavra in lista_de_palavras:
        
        if palavra == 'nao':
            lista_sentimento.append('NEG')
        else:
            lista_sentimento.append('POS')
    else:
        sentiment_ls.append(lista_sentimento)

In [ ]:
corpus = ['bom dia nao gostei','boa noite gostei bastante']

sentiment_ls = []

for frase in corpus:
    lista_de_palavras = frase.split()
    lista_sentimento = ['NEG' if x == 'nao' else 'POS' for x in lista_de_palavras]
    sentiment_ls.append(lista_sentimento)

In [ ]:
ls = [10,21,36]

[x for x in ls if x % 2 == 0]

In [ ]:
x = 10

['é 10' if a==10 else 'nao é 10' for a in ls]

In [ ]:
'é 10' if x==10 else 'nao é 10'

Também é possível utilizar condições dentro de uma compreensão de lista.

In [ ]:
ls = [1,2,3,4,5]
new_ls = []

for valor in ls:
    if valor % 2 == 0:
        new_ls.append(valor**3)

new_ls

In [ ]:
## usando somente if

new_ls = [valor ** 3 for valor in ls if valor%2==0]
new_ls

In [ ]:
## usando if else

new_ls = [valor ** 3 if valor%2==0 else 0 for valor in ls]
new_ls

Perceba que a sintaxe da compreensão de lista se altera de acordo com o uso somente do ```if``` ou do ```if ... else```.

## while

Outra estrutura de repetição é o ```while``` que executa o bloco de código inúmeras vezes até que sua condição criadora se torne falsa ou que ele seja parado com ```break```.

In [ ]:
i = 10

while i <= 100:
    
    print(f"O valor de 'i' é {i}.")
    i += 10

O algoritmo acima printa o valor da variável ```i``` até que esse valor ultrapasse 100. A cada iteração a condição ```i <= 100``` é avaliada se o resultado dessa condição for ```True``` o código abaixo é executado, se for ```False``` o código não será executado e o algoritmo para.

In [ ]:
i = 10

while i <= 100:
    print(f"O valor de 'i' é {i}.")
  
    if i == 60:
        print('Cheguei a 60, parando o loop.')
        break

    i += 10

Podemos antecipadamente para a execução de um loop ```while``` com a palavra ```break```, nesse caso a condição pode continuar verdadeira, mas a execução foi interrompida.

In [ ]:
contador = 0
soma = 0

while contador <= 100:
  
    if soma >= 2600:
        print("iteração ",contador)
        print("soma ", soma)
        break
    else:
        soma += contador
    
    contador += 1

In [ ]:
clientes = 0
valor_recebido = 0

while valor_recebido < 100:
    print('Venda mais!')
    clientes += 1
    valor_recebido = clientes * 4.99
else:
    print('Meta alcançada!!')
    print('QTD DE CLIENTES',clientes)

In [ ]:
primeira_lista = [1,2,3,4,5]

i = 0

ls = []

while i < 10:
    
    for valor in primeira_lista:
        ls.append(valor)

    i += 1

len(ls)

# Funções
___

Uma função é um bloco de código que só é executado quando chamado. Cada função tem um identificador e assim que definido estará sempre associado ao bloco de código. O ato de definir uma função não executa o seu código. Para criar um função basta utilizarmos a palavra reservada ```def```.

Um cientista de dados define várias funções ao longo do seu dia-a-dia de trabalho. Em sua maioria, as funções criadas executam uma atividade única que será utilizadas uma grande quantidade de vezes. Funções de avaliação de métricas, tratamento de dados, avaliação de modelos, são exemplos de funcionalidades normalmente utilizadas para funções personalizadas.

In [ ]:
def minha_primeira_funcao():
    
    print('O início de um sonho!')
    
    for _ in range(5):
        print('.')
    
    print('Deu tudo certo!')

In [ ]:
minha_primeira_funcao()

In [ ]:
def hello_world():
    print('Hello World!')

hello_world()

Funções podem receber valores pre-determinados chamados de parâmetros, cada parâmetro irá receber um argumento e esses argumentos podem ser enviados pelo usuário ou pode ser previamente determinado.

In [ ]:
def hello_person(nome):
    print(f'Hello {nome}!')

In [ ]:
hello_person(nome = 'Maria')

In [ ]:
def calculadora(valor1,valor2,operacao):
    
    if operacao == 'soma':
        print(valor1+valor2)
        
    elif operacao == 'divisao':
        print(valor1/valor2)
        
    elif operacao == 'multiplicacao':
        print(valor1*valor2)
        
    elif operacao == 'subtracao':
        print(valor1-valor2)

In [ ]:
calculadora(valor1=15,valor2=16)

Na construção da função ```calculadora()``` existe o parâmetro ```operacao``` que não foi passado, logo recebemos o erro acima.

In [ ]:
calculadora(valor1=15,valor2=16,operacao='soma')

In [ ]:
calculadora(15,16,'soma')

In [ ]:
calculadora(10,8,operacao='soma')

In [ ]:
calculadora(valor2=15,operacao='soma',valor1=25)

Os parâmetros de uma função podem ser passadas de forma posicional, ou seja, o primeiro valor será entregue ao primeiro parâmetro, o segundo valor ao segundo parâmetro e assim por diante. Porém, se iniciarmos a chamada de uma função de forma posicional não podemos alterar a forma de chamada.

In [ ]:
## criando valores padrões para argumentos

def calculadora(valor1=10, valor2=10, operacao='soma'):

    if operacao == 'soma':
        print(valor1+valor2)
    elif operacao == 'divisao':
        print(valor1/valor2)
    elif operacao == 'multiplicacao':
        print(valor1*valor2)
    elif operacao == 'subtracao':
        print(valor1-valor2)

In [ ]:
calculadora(valor1=25,valor2=15,operacao='multiplicacao')

O resultado de uma função pode ser guardado em variáveis, porém para que isso ocorra precisamos expressar claramente o que será retornado pela função usando a palavra reservada ```return```. É bastante recomendado criar funções que tenham ```return```.

In [ ]:
def minha_soma(valor1,valor2):
    resultado = valor1+valor2

def minha_soma_return(valor1,valor2):
    resultado = valor1 + valor2

    return resultado

In [ ]:
x = minha_soma(10,10)
print(x)
print(type(x))

In [ ]:
x = minha_soma_return(10,10)
print(x)
print(type(x))

Também é possivel criar arquivos ```.py``` com as nossas funções e utiliza-las após importação. O arquivo ```minhas_funcs.py``` na pasta ```src``` tem a função ```func1```. Podemos utilizar essa função neste notebook mesmo que ela não tenha sido criada aqui, para isso utilizamos a palavra reservada ```import``` passando o nome da pasta e do arquivo onde a função desejada etá.

In [ ]:
from src.minhas_funcs import func1

In [ ]:
func1(10,12)

In [ ]:
func1(12,10)