# Python

# Variáveis
___

Variáveis são espaços na memória do computador que possuem valores acessáveis. Utilizamos um símbolo de igual ```=```, também chamado de símbolo de atribuição para criar variáveis.

In [6]:
## atribuição simples

a = 10
b = 20

In [7]:
print(a)
print(b)

10
20

In [8]:
## atribuição múltipla

a,b = 30,40

In [9]:
print(a)
print(b)

30
40

In [10]:
nome = 'João'

In [11]:
print(nome)

João

É importante entender que o identificador é único e recebe somente um valor por vez, para criarmos conjuntos de valores foram criadas estruturas de dados (dicionários, arrays, listas, tuplas). Se usarmos um identificador mais de um vez ele terá seu valor sobreescrito pelo valor mais recente. Exemplo:

In [12]:
nome = 'Nasser'

In [13]:
print(nome)

Nasser

Vale a pena notar que ao criar variáveis, seus identificadores (ou nomes) devem seguir algumas regras. As variáveis podem ter números e letras, porém não podemos iniciar o nome de variáveis com números e nem utilizar algumas palavras reservadas pelo sistema. A criação de identificadores também é sensível a caixa alta, sendo considerado diferentes identificadores escritos de formas diferentes.

In [14]:
12_idade_joao = 15

SyntaxError: invalid decimal literal (<ipython-input-14-c6798dc40ac0>, line 1)

In [15]:
return = 15

SyntaxError: invalid syntax (<ipython-input-15-43275c85c0df>, line 1)

A palavra reservada return já descreve um comando nativo do python que não pode ser substituído e por isso não podemos utilizar esse identificador para criar uma variável. Segue uma lista de palavras reservadas em python.

![](https://p3-juejin.byteimg.com/tos-cn-i-k3u1fbpfcp/ae3c65f02bec49b4996fb1297551ba22~tplv-k3u1fbpfcp-zoom-crop-mark:1280:960:0:0.awebp)

# Tipos de dados
___

As variáveis podem receber dados e objetos. Pode-se dividir os dados em 4 tipos diferentes, cada tipo de dado tem sua particularidade e pode ser utilizado em situações específicas. Todo código em python vai ter, em seu processamento, que lidar com esses tipos de dados, são eles:

* **string (str)** - valores textuais, representados por aspas (simples ou duplas) ou criados através da função str()
* **integer (int)** - valores númericos inteiros, criados através da função int()
* **float (float)** - valores numéricos fracionários, também chamados de valores flutuantes, criados através da função float()
* **boolean (bool)** - valores booleanos, só assumem dois valores possíveis True e False. Computacionalmente True pode ser representado pelo valor 1 e False por 0.

É possível descrobrir o tipo de um dado usando a função type().

In [16]:
## uma string

x = 'Nasser'
type(x)

str

In [17]:
## um integer

x = 150
type(x)

int

In [18]:
## um float

x = 3.75
type(x)

float

In [19]:
## um boolean

x = True
type(x)

bool

É interessante notar que o simples fato de atribuirmos um valor a uma variável o tipo do dado já é reconhecido, ou seja, não há necessidade de declarar a variável ou o tipo de dados que será guardado.

# Operadores Aritiméticos
___

Operações aritiméticas são necessárias para qualquer trabalho de processamento, utilizando variáveis podemos executar operações matemáticas de forma dinâmica. Esses são os operadores matemáticos utilizados em python.

| Operador |            Ação            |
|:--------:|:--------------------------:|
|     -    |          subtração         |
|     +    |           adição           |
|     *    |        multiplicação       |
|     /    |        divisão       |
|     %    |  módulo da divisão (resto) |
|    **    |         potenciação        |
|    +=    |      incremento (soma)     |
|    *=    | incremento (multiplicação) |
|    -=    |   decremento (subtração)   |

Para utilizar qualquer uma das operações demonstradas acima, basta escrever o operador associado com as variáveis, bem similar a uma fórmula matemática comum.

In [ ]:
## subtração

28 - 3

In [ ]:
## adição

28 + 28

In [ ]:
## multiplicação

28 * 1.5

In [ ]:
## módulo

55 % 10

In [ ]:
## potências

10**2

In [ ]:
## incremento

x = 10
x += 5
print(x)

In [ ]:
## incremento (multiplicação)

x = 10
x *= 2.2
print(x)

In [ ]:
## decremento

x = 10
x -= 2.5
print(x)

# f-string
___

Existe um recurso em python chamado de f-string, sua principal função é adicionar variáveis junto a texto de uma forma fácil. Esse recurso funciona muito bem com a função ```print()```, mas também pode ser utilizado em strings puras e até docstrings (strings de documentação).Para utiliza-la basta colocar a letra ```f``` antes de abrir as aspas de uma string e colocar a variável desejada entre ```{}``` (chaves).

In [20]:
idade_do_cliente = 21

print(f'A idade digitada foi {idade_do_cliente} anos!')

A idade digitada foi 21 anos!

# Estrutura de Dados
___

Estruturas de dados são uma forma de organizar e armazenar dados para que possam ser acessados e trabalhados de forma eficiente. Elas definem a relação entre os dados e as operações que podem ser executadas neles. Existem vários tipos de estruturas de dados definidas que tornam mais fácil para os cientistas de dados se concentrarem na solução de problemas maiores, em vez de se perderem nos detalhes da descrição e acesso aos dados.

Em python existem as seguintes estruturas de dados: listas, tuplas, dicionários, coleções (sets). As mais utilizadas no dia-a-dia de um cientista de dados são as listas, tuplas, dicionários e são nelas que esta matéria irá focar.

## Listas
___

A lista é, provavelmente, a estrutura de dados mais utilizada e mais básica em python. Ela é uma coleção ordenada, mutável e iterável também podendo ser heterogênea, ou seja, receber diversos tipos de dados. Ela tem vários métodos (funcionalidades do objeto lista) que podem auxiliar na organização e manipulação de dados. Alguns exemplos de lista:

In [24]:
lista_de_inteiros = [1,2,3,4,5] ## lista de integers
lista_heterogenea = ['nasser',1.71,100, True]
lista_de_lista = [[1,2,3,4],[5,6,7,8]]

Podemos encontrar o tamanho de uma lista utilizando a função ```len()```

In [25]:
print(len(lista_de_inteiros))
print(len(lista_heterogenea))
print(len(lista_de_lista))

5
4
2

Também é possivel criar listas vazias!

In [27]:
cidades_que_visitei = []
cidades_que_visitei

[]

In [29]:
cidades_que_visitei = ['Brasília','Cairo','Tel-Aviv','Paris','Jerusalem','Eilat']
cidades_que_visitei

['Brasília', 'Cairo', 'Tel-Aviv', 'Paris', 'Jerusalem', 'Eilat']

Podemos acessar dados de uma lista utilizando a localização do dado a ser recuperado, iniciando a conta por ```zero```!

![lista](imgs/lista.png)

Ou seja, o primeiro valor tem o índice ```0 (zero)``` e os próximos seguem normalmente a contagem.

In [ ]:
## acessando o primeiro valor

cidades_que_visitei[0]

In [ ]:
## acessando o segundo valor

cidades_que_visitei[1]

In [ ]:
## acessando o quarto valor

cidades_que_visitei[3]

É possível reatribuir o valor em qualquer posição de uma lista, para isso basta selecionar o índica da lista que deseja alterar e atribuir um novo valor a ela.

In [ ]:
cidades_que_visitei[4]

In [ ]:
cidades_que_visitei[4] = 'Jerusalém'

In [ ]:
cidades_que_visitei[4]

Uma forma simples e bastante poderosa de selecionar valores dentro de uma lista é utilizando a técnica de fatiamento. Ela permite que a seleção de valores dentro de uma janela com início e fim, para isso basta utilizar ```:``` .

In [32]:
## a função range(n) cria uma lista com valores de zero até n.

lista_100 = list(range(100))

In [33]:
## usando fatiamento

primeiros_3 = lista_100[:3]
primeiros_3

[0, 1, 2]

In [ ]:
cidades_que_visitei[0:2]

In [ ]:
cidades_que_visitei[:2]

In [ ]:
cidades_que_visitei[:]

In [ ]:
cidades_que_visitei[2:]

In [ ]:
cidades_que_visitei[3:5]

Perceba que o indice no lado esquerdo o sinal de dois-pontos é inclusivo e do lado direito é exclusivo (ou seja, não retorna o valor). Também é possível selecionar os valores começando a contagem do final da lista porém, nessa situação, a contagem começa com 1 e é negativa.

In [ ]:
cidades_que_visitei[-1]

In [ ]:
cidades_que_visitei[-5:-2]

Listas podem ser heterogeneas, ou seja, podemos colocar outras listas dentro dela, outras estruturas de dados e até objetos mais complexos.

In [34]:
paises_que_visitei = ['Brasil',{'Jerusalem':5,'Tel-Aviv':2,'Eilat':1},('França','Paris')]

In [ ]:
len(paises_que_visitei)

In [ ]:
type(paises_que_visitei[0])

In [ ]:
type(paises_que_visitei[1])

In [ ]:
type(paises_que_visitei[2])

### Métodos de Listas

Métodos são pequenos funcionalidades de um objeto que podemos utilizar para manipular os dados desse objeto. Todo objeto igual, independente do seu conteúdo, possui os mesmos métodos. Os métodos de um objeto podem ser acessados colocar um ```.``` ao final do variável e escrevendo seu nome.

Os métodos de listas mais utilizados são os seguintes:

![](imgs/lista3.png)

In [ ]:
cidades_que_visitei

In [ ]:
## adicionando a cidade Araxá ao final da lista

cidades_que_visitei.append('Araxá')

In [ ]:
## contando quantas vezes a palavra 'Eilat' aparece na lista

cidades_que_visitei.count('Eilat')

In [ ]:
## encontrando o índice da palavra 'Paris'

cidades_que_visitei.index('Paris')

In [ ]:
## alterando a ordem da lista (invertendo)

cidades_que_visitei.reverse()
cidades_que_visitei

In [ ]:
## organizando a lista

cidades_que_visitei.sort()
cidades_que_visitei

In [ ]:
## extraindo um valor da lista

cidades_que_visitei.pop(2)
cidades_que_visitei

In [ ]:
## removendo um valor da lista

cidades_que_visitei.remove('Brasília')
cidades_que_visitei

Imagine que você possui a lista abaixo. Ela possui valores inteiros, porém, existe um impostor no meio dela, a string '88', encontre o índice dessa string e a substitua pelo valor inteiro 88.

In [ ]:
lista_exercicio = [125,175,785,4,89,25,41,58,56,2,45,4,5,13,65,469,8,8974,654,65,564,2547,87,987,6454,516,54,654,98,7,77,'88',54,7,8,54,5,1,4,7,8,25,4,5,7,8,8,8,5,6,6,6,3,2,5,4,5]

## Tuplas
___

As tuplas são como listas porém imutáveis, ou seja, não podemos alterar nenhum valor depois que ela for designada. Normalmente é utilizada para guardar informações que em momento algum podem mudar (endereço, cpf, id de usuário). Podemos usar parênteses para definir uma tupla ou a função ```tuple()```.

In [ ]:
fundo_imob = ('ALZR11','BBF011','BLMG11','BLCP11','BRCO11')
fundo_imob

In [ ]:
## as tuplas são indexadas da mesma forma que as listas

print(fundo_imob[0])
print(fundo_imob[1])
print(fundo_imob[2])

In [ ]:
## tuplas não suportam alteração de valores

fundo_imob[0] = 'BACON11'

In [ ]:
## tuplas também podem ser heterogeneas

fundo_imob = tuple(['ALZR11',11,{'BLMG11':97.30},15.2,['BRCO11',16]])
fundo_imob

### Métodos de Tuplas

Devido a sua característica imutável, tuplas possuem poucos métodos.

In [ ]:
## contando quantos valores aparecem

fundo_imob.count(['BRCO11',15])

In [ ]:
fundo_imob.count(11)

In [ ]:
## encontrando o índice do valor 15.2

fundo_imob.index(15.2)

## Dicionários
___

Os dicionários são outra estrutura de dados em python que também são conhecidas como “memória associativas” ou “vetores associativos”, diferentemente das listas e tuplas, os dicionários são indexados utilizando chaves (keys) e não números. Construímos um dicionário utilizando chaves ```{}``` ou a função ```dict()```. Os dicionários são mutáveis e iteráveis.

In [35]:
meu_dict = {}
type(meu_dict)

dict

In [36]:
meu_dict['clientes'] = ['Maria','João','Gilberto','Gabriela','Marcelo']
meu_dict

{'clientes': ['Maria', 'João', 'Gilberto', 'Gabriela', 'Marcelo']}

Perceba que para adicionar um par ```chave:valor``` basta utilizar uma sintaxe de indexação com atribuição.

In [37]:
meu_dict['endereços'] = {
    'maria':'águas claras',
    'joão':'asa norte',
    'gilberto':'asa sul',
    'gabriela':'samambaia',
    'marcelo':'planaltina'
}

meu_dict

{'clientes': ['Maria', 'João', 'Gilberto', 'Gabriela', 'Marcelo'],
 'endereços': {'maria': 'águas claras',
  'joão': 'asa norte',
  'gilberto': 'asa sul',
  'gabriela': 'samambaia',
  'marcelo': 'planaltina'}}

Podemos também colocar dicionários dentro de dicionários. Perceba que todo objeto designado como valor ainda mantém seus métodos originais. Então para modifica-lo basta referenciar a chave e utilizar o método deseja do objeto em valor.

In [38]:
meu_dict['valor_total_faturado'] = 50000
meu_dict

{'clientes': ['Maria', 'João', 'Gilberto', 'Gabriela', 'Marcelo'],
 'endereços': {'maria': 'águas claras',
  'joão': 'asa norte',
  'gilberto': 'asa sul',
  'gabriela': 'samambaia',
  'marcelo': 'planaltina'},
 'valor_total_faturado': 50000}

In [39]:
## alterando o valor associado a uma chave já criada

meu_dict['valor_total_faturado'] = 122658
meu_dict

{'clientes': ['Maria', 'João', 'Gilberto', 'Gabriela', 'Marcelo'],
 'endereços': {'maria': 'águas claras',
  'joão': 'asa norte',
  'gilberto': 'asa sul',
  'gabriela': 'samambaia',
  'marcelo': 'planaltina'},
 'valor_total_faturado': 122658}

In [42]:
## acessando a lista de clientes

meu_dict['clientes']

['Maria', 'João', 'Gilberto', 'Gabriela', 'Marcelo']

In [43]:
## acessando o primeiro valor da lista de clientes

meu_dict['clientes'][0]

'Maria'

In [44]:
## usando um método de lista para alterar um dicionário

meu_dict['clientes'].append('Nasser')
meu_dict

{'clientes': ['Maria', 'João', 'Gilberto', 'Gabriela', 'Marcelo', 'Nasser'],
 'endereços': {'maria': 'águas claras',
  'joão': 'asa norte',
  'gilberto': 'asa sul',
  'gabriela': 'samambaia',
  'marcelo': 'planaltina'},
 'valor_total_faturado': 122658}

In [48]:
## criando um endereço para nasser

meu_dict['endereços']['nassser'] = 0
meu_dict

{'clientes': ['Maria', 'João', 'Gilberto', 'Gabriela', 'Marcelo', 'Nasser'],
 'endereços': {'maria': 'águas claras',
  'joão': 'asa norte',
  'gilberto': 'asa sul',
  'gabriela': 'samambaia',
  'marcelo': 'planaltina',
  'nassser': 0,
  'nasser': 0},
 'valor_total_faturado': 122658}

In [50]:
del meu_dict['endereços']['nassser']
meu_dict

KeyError: 'nassser'

In [51]:
meu_dict['endereços']['nasser'] = 'águas claras'
meu_dict

{'clientes': ['Maria', 'João', 'Gilberto', 'Gabriela', 'Marcelo', 'Nasser'],
 'endereços': {'maria': 'águas claras',
  'joão': 'asa norte',
  'gilberto': 'asa sul',
  'gabriela': 'samambaia',
  'marcelo': 'planaltina',
  'nasser': 'águas claras'},
 'valor_total_faturado': 122658}

### Metodos de Dicionários

Dicionários possuem uma série de métodos que podemos utilizar para acessar partes específicas (chaves ou valores).

In [53]:
## acessando chaves

meu_dict.keys()

dict_keys(['clientes', 'endereços', 'valor_total_faturado'])

In [54]:
## acessando valores

meu_dict.values()

dict_values([['Maria', 'João', 'Gilberto', 'Gabriela', 'Marcelo', 'Nasser'], {'maria': 'águas claras', 'joão': 'asa norte', 'gilberto': 'asa sul', 'gabriela': 'samambaia', 'marcelo': 'planaltina', 'nasser': 'águas claras'}, 122658])

In [55]:
## acessando chaves e valores

meu_dict.items()

dict_items([('clientes', ['Maria', 'João', 'Gilberto', 'Gabriela', 'Marcelo', 'Nasser']), ('endereços', {'maria': 'águas claras', 'joão': 'asa norte', 'gilberto': 'asa sul', 'gabriela': 'samambaia', 'marcelo': 'planaltina', 'nasser': 'águas claras'}), ('valor_total_faturado', 122658)])

In [56]:
## extraindo um valor e jogando fora a chave

valor_total_faturado = meu_dict.pop('valor_total_faturado')

In [57]:
print(valor_total_faturado)
meu_dict

122658

{'clientes': ['Maria', 'João', 'Gilberto', 'Gabriela', 'Marcelo', 'Nasser'],
 'endereços': {'maria': 'águas claras',
  'joão': 'asa norte',
  'gilberto': 'asa sul',
  'gabriela': 'samambaia',
  'marcelo': 'planaltina',
  'nasser': 'águas claras'}}

In [58]:
## usando get para acessar um valor

meu_dict.get('valor_total_de_venda')

In [59]:
meu_dict['valor_total_de_venda']

KeyError: 'valor_total_de_venda'

O método ```.get()``` retorna o valor associado a uma chave, porém se essa chave não existir ele não levanta nenhuma mensagem de erro como a indexação tradicional faria. Entender esse comportamento é muito importante para montar algoritmos que possam atuar sem intervenção humana.

In [ ]:
minha_primeira_variavel = 'nasser'

In [ ]:
minha_segunda_variavel = 10

In [ ]:
minha_terceira_variavel = 1.2

In [ ]:
minha_tupla = (1,2,3,45,15,'nasser')

In [ ]:
type(minha_tupla)

In [ ]:
type(minha_terceira_variavel)

In [ ]:
meu_tipo_maluco_de_dado = True
meu_tipo_maluco_de_dado_outro = False

In [ ]:
type(meu_tipo_maluco_de_dado)

In [ ]:
False + False

In [ ]:
altura = 1.71

In [ ]:
peso = 70

In [ ]:
peso

In [ ]:
imc = peso / (altura*altura)

In [ ]:
imc

In [ ]:
type(imc)

In [ ]:
a = 10
b = 20

In [ ]:
a ** 2

In [ ]:
5 ** (1/5)

In [ ]:
import numpy as np

In [ ]:
1 / (1 - np.exp(-10))

In [ ]:
3 * (3 + 2)

In [ ]:
 85/1.68*2

In [ ]:
a = 2
b = 15.2

In [ ]:
a + b

In [ ]:
a - b

In [ ]:
7 % 3.5

In [ ]:
a = 0
b = 1

In [ ]:
# a = a+1

In [ ]:
# a = 1

In [ ]:
a += 15

In [ ]:
a

In [ ]:
a -= 8

In [ ]:
a

In [ ]:
a /= 11

In [ ]:
a

In [ ]:
a *= 8

In [ ]:
a

In [ ]:
x = 50
nome = 'nasser '

In [ ]:
x * nome

In [ ]:
altura = input('Qual é o sua altura:')

In [ ]:
type(altura)

In [ ]:
altura

In [ ]:
int(altura)

In [ ]:
str(10)

In [ ]:
nome = 'nasser '
sobrenome = 'boan'

In [ ]:
nome + sobrenome

In [ ]:
f'O meu nome é {nome} e meu sobrenome é {sobrenome}'

In [ ]:
altura = 1.71
peso = 100

In [ ]:
f'Minha altura é {altura} e meu peso é {peso}'

In [ ]:
altura_quadrado = altura**2

In [ ]:
type(altura_quadrado)

In [ ]:
print(altura_quadrado)

In [ ]:
altura = 1.71
peso = 100

IMC = peso / (altura * altura)

In [ ]:
print(IMC)

In [ ]:
x = 4

In [ ]:
y = 2*(x**2) - 3*(x**(x+1))/2 + ((x+1)**0.5)/x

In [ ]:
print(y)

In [ ]:
print(f'Seu peso é: {peso} kilos.')

print(f'Sua altura é: {altura} metros.')

print(f'O IMC é: {IMC}.')

print(f'P: {peso}, A: {altura}, IMC: {IMC}.')

In [ ]:
input('Qual o seu nome? ')

In [ ]:
idade = input('Qual é sua idade? ')
idade_em_float = float(idade)
print(f"Sua idade em meses é {idade_em_float*12} meses; E em dias é {idade_em_float*365} dias.")

# Tipos de dados

In [ ]:
x = 'Nasser'

type(x)

In [ ]:
x = 10

type(x)

In [ ]:
x = 3.3

type(x)

In [ ]:
x = True

type(x)

# Métodos de String

In [ ]:
meu_nome = 'nasser'

In [ ]:
meu_nome.upper()

![tweet.png]()

In [ ]:
tweet = 'Bom dia, ótima semana a todos ...'

In [ ]:
tweet.upper()

In [ ]:
tweet.lower()

In [ ]:
tweet.capitalize()

In [ ]:
print(tweet.startswith('B'))
print(tweet.startswith('Bom'))
print(tweet.startswith('Bom dia'))
print(tweet.startswith('Bom dia!!'))

In [ ]:
print(tweet.endswith('.'))
print(tweet.endswith('..'))
print(tweet.endswith('todos ...'))
print(tweet.endswith('... '))

In [ ]:
tweet.strip()

In [ ]:
tweet.strip('...')

In [ ]:
tweet.strip(',')

In [ ]:
tweet.strip('ótima')

In [ ]:
tweet.rstrip('Bom')

In [ ]:
tweet.rstrip('...')

In [ ]:
tweet.lstrip('Bom')

In [ ]:
tweet.lstrip('...')

In [ ]:
print(tweet)

In [ ]:
tweet.split()

In [ ]:
tweet.split('dia')

In [ ]:
tweet.split('a')

In [ ]:
tweet.split('a',maxsplit=1)

In [ ]:
tweet.split('a',maxsplit=2)

In [ ]:
tweet.rsplit('a',maxsplit=1)

In [ ]:
## concatenção de string

tweet + ' bora tomar café da manhã!'

# Estrutura de Dados

In [ ]:
lista = [1,2,3,4,5]

In [ ]:
tupla = (1,2,3,4,5)

In [ ]:
dicionario = {'a':1,'b':2,'c':3,'d':4,'e':5}

## listas

In [ ]:
cidades_que_visitei = []

In [ ]:
type(cidades_que_visitei)

In [ ]:
cidades_que_visitei = ['Brasília','Cairo','Tel-Aviv','Paris','Jerusalem','Eilat']
cidades_que_visitei

In [ ]:
minha_primeira_lista = ['nasser',30,20,5.4,['felipe',18,20,['Hana',18,20,7.7]]]
minha_primeira_lista

In [117]:
cidades_que_visitei = ['Brasília','Cairo','Tel-Aviv','Paris','Jerusalem','Eilat']
cidades_que_visitei

['Brasília', 'Cairo', 'Tel-Aviv', 'Paris', 'Jerusalem', 'Eilat']

In [ ]:
minha_primeira_lista[4][3][3]

In [ ]:
cidades_que_visitei[0]

In [ ]:
cidades_que_visitei[1]

In [ ]:
cidades_que_visitei[3]

In [ ]:
cidades_que_visitei[1:3]

In [ ]:
cidades_que_visitei[:2]

In [ ]:
cidades_que_visitei[-3]

In [ ]:
cidades_que_visitei[-6]

In [ ]:
len(minha_primeira_lista)

In [ ]:
minha_primeira_lista

In [ ]:
cidades_que_visitei[0:2]

In [ ]:
cidades_que_visitei[:]

In [ ]:
cidades_que_visitei[2:]

In [ ]:
cidades_que_visitei[3:5]

In [ ]:
cidades_que_visitei[-3]

In [ ]:
cidades_que_visitei

In [ ]:
cidades_que_visitei[::2]

In [ ]:
cidades_que_visitei[1::2]

In [ ]:
cidades_que_visitei[::-1]

In [ ]:
a = ['nasser',20,'rafael',30,'hana',18,'luciano',20]

In [ ]:
a[::2]

In [ ]:
a[1::2]

In [ ]:
cidades_que_visitei[1::2]

In [ ]:
cidades_que_visitei[::-1]

In [ ]:
len(cidades_que_visitei)

In [ ]:
len(tweet)

In [ ]:
tweet

In [ ]:
tweet[::-1]

In [ ]:
nome = 'natan'

In [ ]:
nome == nome[::-1]

In [ ]:
nome[:-1]

In [ ]:
tweet.split()[2].upper()[1]

In [ ]:
tweet.split()[3].capitalize()

In [ ]:
tweet2 = tweet.split()

In [ ]:
type(tweet2)

In [ ]:
tweet.split()[2].upper()[1]

In [ ]:
paises_que_visite = ['Brasil',{'Jerusalem':5,'Tel-Aviv':2,'Eilat':1},('França','Paris')]
len(paises_que_visite)

In [118]:
cidades_que_visitei

['Brasília', 'Cairo', 'Tel-Aviv', 'Paris', 'Jerusalem', 'Eilat']

In [119]:
cidades_que_visitei.append('Araxá')

In [120]:
cidades_que_visitei

['Brasília', 'Cairo', 'Tel-Aviv', 'Paris', 'Jerusalem', 'Eilat', 'Araxá']

In [121]:
cidades_que_visitei.count('Eilat')

1

In [123]:
cidades_que_visitei.append('Eilat')

In [124]:
cidades_que_visitei

['Brasília',
 'Cairo',
 'Tel-Aviv',
 'Paris',
 'Jerusalem',
 'Eilat',
 'Araxá',
 'Eilat']

In [125]:
cidades_que_visitei.count('Eilat')

2

In [133]:
cidades_que_visitei[cidades_que_visitei.index('Paris')]

'Paris'

In [134]:
cidades_que_visitei[3]

'Paris'

In [137]:
ls = []

for palavra in tweet.split():
    ls.append(palavra.upper())

In [138]:
ls

['BOM', 'DIA,', 'ÓTIMA', 'SEMANA', 'A', 'TODOS', '...']

In [139]:
cidades_que_visitei.reverse()

In [140]:
cidades_que_visitei

['Eilat',
 'Araxá',
 'Eilat',
 'Jerusalem',
 'Paris',
 'Tel-Aviv',
 'Cairo',
 'Brasília']

In [149]:
cidades_que_visitei.reverse()

In [150]:
cidades_que_visitei

['Brasília',
 'Cairo',
 'Tel-Aviv',
 'Paris',
 'Jerusalem',
 'Eilat',
 'Araxá',
 'Eilat']

In [151]:
cidades_que_visitei.sort()

In [152]:
cidades_que_visitei

['Araxá',
 'Brasília',
 'Cairo',
 'Eilat',
 'Eilat',
 'Jerusalem',
 'Paris',
 'Tel-Aviv']

In [153]:
cidades_que_visitei.pop(2)

'Cairo'

In [154]:
cidades_que_visitei

['Araxá', 'Brasília', 'Eilat', 'Eilat', 'Jerusalem', 'Paris', 'Tel-Aviv']

In [170]:
cidades_que_visitei[0] = 'Nasser'

In [171]:
cidades_que_visitei

['Nasser', 'Eilat', 'Jerusalem', 'Paris', 'Tel-Aviv']

## tuplas

In [166]:
fundo_imob = ('ALZR11','BBF011','BLMG11','BLCP11','BRCO11')
fundo_imob

('ALZR11', 'BBF011', 'BLMG11', 'BLCP11', 'BRCO11')

In [167]:
print(fundo_imob[0])
print(fundo_imob[1])
print(fundo_imob[2])

ALZR11
BBF011
BLMG11

In [172]:
fundo_imob[0] = 'BACON11'

TypeError: 'tuple' object does not support item assignment

In [173]:
fundo_imob = tuple(['ALZR11',11,{'BLMG11':97.30},15.2,['BRCO11',16]])
fundo_imob

('ALZR11', 11, {'BLMG11': 97.3}, 15.2, ['BRCO11', 16])

In [174]:
fundo_imob[4][1] = 15

In [175]:
fundo_imob

('ALZR11', 11, {'BLMG11': 97.3}, 15.2, ['BRCO11', 15])

In [178]:
fundo_imob.count('ALZR11')

1

In [177]:
fundo_imob.index(15.2)

3

In [181]:
import sys
a_list = list()
a_tuple = tuple()
a_list = [1,2,3,4,5]
a_tuple = (1,2,3,4,5)
print(f'TAMANHO DE UMA LISTA {sys.getsizeof(a_list)} BYTES')
print(f'TAMANHO DE UMA TUPLA {sys.getsizeof(a_tuple)} BYTES')

TAMANHO DE UMA LISTA 96 BYTES
TAMANHO DE UMA TUPLA 80 BYTES

In [183]:
import sys, platform
import time

start_time = time.time()
b_list = list(range(10000000))
end_time = time.time()
print("Instantiation time for LIST:", end_time - start_time)

start_time = time.time()
b_tuple = tuple(range(10000000))
end_time = time.time()
print("Instantiation time for TUPLE:", end_time - start_time)

start_time = time.time()
for item in b_list:
    aa = b_list[20000]
end_time = time.time()
print("Lookup time for LIST: ", end_time - start_time)

start_time = time.time()
for item in b_tuple:
    aa = b_tuple[20000]
end_time = time.time()
print("Lookup time for TUPLE: ", end_time - start_time)

Instantiation time for LIST: 0.3298830986022949
Instantiation time for TUPLE: 0.30640482902526855
Lookup time for LIST:  0.6653881072998047
Lookup time for TUPLE:  0.7131717205047607

## dicionários

In [210]:
meu_dict = {}
type(meu_dict)

dict

In [187]:
meu_dict

{'nome': 'Nasser', 'idade': 30}

In [188]:
meu_dict['altura'] = 1.71

In [191]:
meu_dict['hobbies'] = ['tocar bateria','ver netflix']

In [192]:
meu_dict

{'nome': 'Nasser',
 'idade': 30,
 'altura': 1.71,
 'hobbies': ['tocar bateria', 'ver netflix']}

In [197]:
meu_dict['idade'] -= 1

In [198]:
meu_dict

{'nome': 'Nasser',
 'idade': 30,
 'altura': 1.71,
 'hobbies': ['tocar bateria', 'ver netflix']}

In [199]:
meu_dict['nome']

'Nasser'

In [201]:
funcionarios = {
    'funcionario1':{
        'nome':'nasser',
        'idade':30,
        'altura':1.71
    },
    'funcionario2':{
        'nome':'andre',
        'idade':15,
        'altura':1.9
    }
}

In [207]:
for n_funcionario in range(1,3):
    print(funcionarios[f'funcionario{n_funcionario}']['altura'])

1.71
1.9

In [209]:
funcionarios['funcionario1']['idade'] += 1

30

In [211]:
meu_dict['clientes'] = ['Maria','João','Gilberto','Gabriela','Marcelo']
meu_dict

{'clientes': ['Maria', 'João', 'Gilberto', 'Gabriela', 'Marcelo']}

In [212]:
meu_dict['endereços'] = {
    'maria':'águas claras',
    'joão':'asa norte',
    'gilberto':'asa sul',
    'gabriela':'samambaia',
    'marcelo':'planaltina'
}

meu_dict

{'clientes': ['Maria', 'João', 'Gilberto', 'Gabriela', 'Marcelo'],
 'endereços': {'maria': 'águas claras',
  'joão': 'asa norte',
  'gilberto': 'asa sul',
  'gabriela': 'samambaia',
  'marcelo': 'planaltina'}}

In [213]:
meu_dict = {
    'clientes':['Maria','João','Gilberto','Gabriela','Marcelo'],
    'endereços':{
        'maria':'águas claras',
        'joão':'asa norte',
        'gilberto':'asa sul',
        'gabriela':'samambaia',
        'marcelo':'planaltina'
    }
}

In [214]:
meu_dict['valor_total_faturado'] = 50000
meu_dict

{'clientes': ['Maria', 'João', 'Gilberto', 'Gabriela', 'Marcelo'],
 'endereços': {'maria': 'águas claras',
  'joão': 'asa norte',
  'gilberto': 'asa sul',
  'gabriela': 'samambaia',
  'marcelo': 'planaltina'},
 'valor_total_faturado': 50000}

In [216]:
len(meu_dict['endereços'])

5

In [217]:
meu_dict['valor_total_faturado'] = 122658
meu_dict

{'clientes': ['Maria', 'João', 'Gilberto', 'Gabriela', 'Marcelo'],
 'endereços': {'maria': 'águas claras',
  'joão': 'asa norte',
  'gilberto': 'asa sul',
  'gabriela': 'samambaia',
  'marcelo': 'planaltina'},
 'valor_total_faturado': 122658}

In [218]:
meu_dict['clientes']

['Maria', 'João', 'Gilberto', 'Gabriela', 'Marcelo']

In [219]:
meu_dict['clientes'][0]

'Maria'

In [220]:
meu_dict['clientes'].append('Nasser')
meu_dict

{'clientes': ['Maria', 'João', 'Gilberto', 'Gabriela', 'Marcelo', 'Nasser'],
 'endereços': {'maria': 'águas claras',
  'joão': 'asa norte',
  'gilberto': 'asa sul',
  'gabriela': 'samambaia',
  'marcelo': 'planaltina'},
 'valor_total_faturado': 122658}

In [221]:
meu_dict['endereços']['nassser'] = 0

In [222]:
meu_dict

{'clientes': ['Maria', 'João', 'Gilberto', 'Gabriela', 'Marcelo', 'Nasser'],
 'endereços': {'maria': 'águas claras',
  'joão': 'asa norte',
  'gilberto': 'asa sul',
  'gabriela': 'samambaia',
  'marcelo': 'planaltina',
  'nassser': 0},
 'valor_total_faturado': 122658}

In [223]:
del meu_dict['endereços']['nassser']

In [224]:
meu_dict

{'clientes': ['Maria', 'João', 'Gilberto', 'Gabriela', 'Marcelo', 'Nasser'],
 'endereços': {'maria': 'águas claras',
  'joão': 'asa norte',
  'gilberto': 'asa sul',
  'gabriela': 'samambaia',
  'marcelo': 'planaltina'},
 'valor_total_faturado': 122658}

In [225]:
meu_dict['endereços']['nasser'] = 'águas claras'
meu_dict

{'clientes': ['Maria', 'João', 'Gilberto', 'Gabriela', 'Marcelo', 'Nasser'],
 'endereços': {'maria': 'águas claras',
  'joão': 'asa norte',
  'gilberto': 'asa sul',
  'gabriela': 'samambaia',
  'marcelo': 'planaltina',
  'nasser': 'águas claras'},
 'valor_total_faturado': 122658}

In [229]:
meu_dict.keys()

dict_keys(['clientes', 'endereços', 'valor_total_faturado'])

In [230]:
meu_dict.values()

dict_values([['Maria', 'João', 'Gilberto', 'Gabriela', 'Marcelo', 'Nasser'], {'maria': 'águas claras', 'joão': 'asa norte', 'gilberto': 'asa sul', 'gabriela': 'samambaia', 'marcelo': 'planaltina', 'nasser': 'águas claras'}, 122658])

In [233]:
'clientes' in meu_dict.keys()

True

In [234]:
122658 in meu_dict.values()

True

In [240]:
valor_total_faturado = meu_dict.pop('valor_total_faturado')

In [241]:
meu_dict

{'clientes': ['Maria', 'João', 'Gilberto', 'Gabriela', 'Marcelo', 'Nasser'],
 'endereços': {'maria': 'águas claras',
  'joão': 'asa norte',
  'gilberto': 'asa sul',
  'gabriela': 'samambaia',
  'marcelo': 'planaltina',
  'nasser': 'águas claras'}}

In [242]:
valor_total_faturado

122658

In [243]:
meu_dict.items()

dict_items([('clientes', ['Maria', 'João', 'Gilberto', 'Gabriela', 'Marcelo', 'Nasser']), ('endereços', {'maria': 'águas claras', 'joão': 'asa norte', 'gilberto': 'asa sul', 'gabriela': 'samambaia', 'marcelo': 'planaltina', 'nasser': 'águas claras'})])

In [251]:
dict([['a','b'],['c','d']])

{'a': 'b', 'c': 'd'}

In [247]:
dict(zip(['a','b'],['c','d']))

{'a': 'c', 'b': 'd'}

In [252]:
meu_dict

{'clientes': ['Maria', 'João', 'Gilberto', 'Gabriela', 'Marcelo', 'Nasser'],
 'endereços': {'maria': 'águas claras',
  'joão': 'asa norte',
  'gilberto': 'asa sul',
  'gabriela': 'samambaia',
  'marcelo': 'planaltina',
  'nasser': 'águas claras'}}

In [258]:
meu_dict.get('aoisduhaosiudhaosiudhaoiudhasoidu')

In [255]:
meu_dict['valor_total_de_venda']

KeyError: 'valor_total_de_venda'

In [259]:
meu_dict.clear()
meu_dict

{}

# Operadores Lógicos e Estruturas Condicionais

In [271]:
a = 10
b = 20

In [261]:
a > 10

False

In [262]:
a == 10

True

In [264]:
a >= b

False

In [265]:
a == b

False

In [266]:
x = 6
b = 'nasser'

In [269]:
x == len(b)

True

In [272]:
a + 10 == b

True

In [273]:
(10 + x > 15) or (x > 10)

True

In [274]:
(10 + x > 15) and not(x > 10)

True

In [275]:
pagamento = 1001

if pagamento > 1000 : 
    print('Comprar relógio')

Comprar relógio

In [276]:
if pagamento < 1000:
    print('N comprar o relogio')

In [277]:
pagamento = 800

if pagamento > 1000 : 
    print('Comprar relógio')
else:
    print('compre mês que vem.')

compre mês que vem.

In [ ]:
clima = 'chuvoso'
vento = 1.99
chance_de_chuva = 50

if clima == 'ensolarado':
    if vento >= 2.0:
        print('Nao jogar, muito vento!')
    else:
        print('Ótimo dia para um jogo!')
else:
    if chance_de_chuva >= 80:
        print('Não jogar, pode chover!')
    else:
        print('Vamos jogar e aquecer o dia!')

In [286]:
bpm = 61

if bpm >= 40 and bpm <= 60:
    print('Largo')
elif bpm > 60 and bpm <= 80:
    print('Adagio')
elif bpm >= 140 and bpm <= 200:
    print('Presto')
else:
    print('Troppo Lento')

Adagio

# Estrutura de repetição

### for

In [291]:
lista_de_valores = [1,2,3,4,5,6,7,8,9,10,55]

for valor in lista_de_valores:
    print(valor)

1
2
3
4
5
6
7
8
9
10
55

In [294]:
lista_cubica = []

for valor in lista_de_valores:
    lista_cubica.append(valor**3)
    
lista_cubica

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 166375]

In [297]:
## for com if

for valor in lista_de_valores:
    if valor % 2 == 0:
        print('Valor Múltiplo de 2')
    else:
        print(valor)

1
Valor Múltiplo de 2
3
Valor Múltiplo de 2
5
Valor Múltiplo de 2
7
Valor Múltiplo de 2
9
Valor Múltiplo de 2
55

In [301]:
## for com break

new_ls = list(range(1,501))

soma = 0

for valor in new_ls:
  
    if soma > 400:
        break

    if valor % 2 == 0:
        print(f"O valor {valor} é válido!")
        print(f"SOMA antes", soma)
        soma += valor
        print(f"SOMA depois {soma}\n----------")

O valor 2 é válido!
SOMA antes 0
SOMA depois 2
----------
O valor 4 é válido!
SOMA antes 2
SOMA depois 6
----------
O valor 6 é válido!
SOMA antes 6
SOMA depois 12
----------
O valor 8 é válido!
SOMA antes 12
SOMA depois 20
----------
O valor 10 é válido!
SOMA antes 20
SOMA depois 30
----------
O valor 12 é válido!
SOMA antes 30
SOMA depois 42
----------
O valor 14 é válido!
SOMA antes 42
SOMA depois 56
----------
O valor 16 é válido!
SOMA antes 56
SOMA depois 72
----------
O valor 18 é válido!
SOMA antes 72
SOMA depois 90
----------
O valor 20 é válido!
SOMA antes 90
SOMA depois 110
----------
O valor 22 é válido!
SOMA antes 110
SOMA depois 132
----------
O valor 24 é válido!
SOMA antes 132
SOMA depois 156
----------
O valor 26 é válido!
SOMA antes 156
SOMA depois 182
----------
O valor 28 é válido!
SOMA antes 182
SOMA depois 210
----------
O valor 30 é válido!
SOMA antes 210
SOMA depois 240
----------
O valor 32 é válido!
SOMA antes 240
SOMA depois 272
----------
O valor 34 é válido!
SOMA antes 272
SOMA depois 306
----------
O valor 36 é válido!
SOMA antes 306
SOMA depois 342
----------
O valor 38 é válido!
SOMA antes 342
SOMA depois 380
----------
O valor 40 é válido!
SOMA antes 380
SOMA depois 420
----------

In [302]:
tweet

'Bom dia, ótima semana a todos ...'

In [304]:
for x in tweet.split():
    print(x)

Bom
dia,
ótima
semana
a
todos
...

In [305]:
ls = [1,2,3]

for i in ls:
    for j in ls:
        print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [307]:
## for com else
cidades = ["Brasília", "Bananal", "São Paulo", "São Luís"]

for cidade in cidades:
    print(cidade)
else:
    print("Acabaram as cidades")

Brasília
Bananal
São Paulo
São Luís
Acabaram as cidades

In [308]:
## compreensão de lista

ls = [1,2,3,4,5]
new_ls = []

for valor in ls:
    new_ls.append(valor**3)

In [309]:
new_ls

[1, 8, 27, 64, 125]

In [310]:
## compreensão de lista

lista_cubo = [valor**3 for valor in ls]
lista_cubo

[1, 8, 27, 64, 125]

In [311]:
ls = [1,2,3,4,5]
new_ls = []

for valor in ls:
    if valor % 2 == 0:
        new_ls.append(valor**3)

new_ls

[8, 64]

In [314]:
lista_cubo_condicao = [valor ** 3 for valor in ls if valor%2==0]
lista_cubo_condicao

[8, 64]

### while

In [316]:
i = 10

while i <= 100:
    print(f"O valor de 'i' é {i}.")
    i += 1

O valor de 'i' é 10.
O valor de 'i' é 11.
O valor de 'i' é 12.
O valor de 'i' é 13.
O valor de 'i' é 14.
O valor de 'i' é 15.
O valor de 'i' é 16.
O valor de 'i' é 17.
O valor de 'i' é 18.
O valor de 'i' é 19.
O valor de 'i' é 20.
O valor de 'i' é 21.
O valor de 'i' é 22.
O valor de 'i' é 23.
O valor de 'i' é 24.
O valor de 'i' é 25.
O valor de 'i' é 26.
O valor de 'i' é 27.
O valor de 'i' é 28.
O valor de 'i' é 29.
O valor de 'i' é 30.
O valor de 'i' é 31.
O valor de 'i' é 32.
O valor de 'i' é 33.
O valor de 'i' é 34.
O valor de 'i' é 35.
O valor de 'i' é 36.
O valor de 'i' é 37.
O valor de 'i' é 38.
O valor de 'i' é 39.
O valor de 'i' é 40.
O valor de 'i' é 41.
O valor de 'i' é 42.
O valor de 'i' é 43.
O valor de 'i' é 44.
O valor de 'i' é 45.
O valor de 'i' é 46.
O valor de 'i' é 47.
O valor de 'i' é 48.
O valor de 'i' é 49.
O valor de 'i' é 50.
O valor de 'i' é 51.
O valor de 'i' é 52.
O valor de 'i' é 53.
O valor de 'i' é 54.
O valor de 'i' é 55.
O valor de 'i' é 56.
O valor de 'i' é 57.
O valor de 'i' é 58.
O valor de 'i' é 59.
O valor de 'i' é 60.
O valor de 'i' é 61.
O valor de 'i' é 62.
O valor de 'i' é 63.
O valor de 'i' é 64.
O valor de 'i' é 65.
O valor de 'i' é 66.
O valor de 'i' é 67.
O valor de 'i' é 68.
O valor de 'i' é 69.
O valor de 'i' é 70.
O valor de 'i' é 71.
O valor de 'i' é 72.
O valor de 'i' é 73.
O valor de 'i' é 74.
O valor de 'i' é 75.
O valor de 'i' é 76.
O valor de 'i' é 77.
O valor de 'i' é 78.
O valor de 'i' é 79.
O valor de 'i' é 80.
O valor de 'i' é 81.
O valor de 'i' é 82.
O valor de 'i' é 83.
O valor de 'i' é 84.
O valor de 'i' é 85.
O valor de 'i' é 86.
O valor de 'i' é 87.
O valor de 'i' é 88.
O valor de 'i' é 89.
O valor de 'i' é 90.
O valor de 'i' é 91.
O valor de 'i' é 92.
O valor de 'i' é 93.
O valor de 'i' é 94.
O valor de 'i' é 95.
O valor de 'i' é 96.
O valor de 'i' é 97.
O valor de 'i' é 98.
O valor de 'i' é 99.
O valor de 'i' é 100.

In [318]:
i = 10

while i <= 100:
    print(f"O valor de 'i' é {i}.")
  
    if i == 60:
        print('Cheguei a 60, parando o loop.')
        break
  
    i += 1

O valor de 'i' é 10.
O valor de 'i' é 11.
O valor de 'i' é 12.
O valor de 'i' é 13.
O valor de 'i' é 14.
O valor de 'i' é 15.
O valor de 'i' é 16.
O valor de 'i' é 17.
O valor de 'i' é 18.
O valor de 'i' é 19.
O valor de 'i' é 20.
O valor de 'i' é 21.
O valor de 'i' é 22.
O valor de 'i' é 23.
O valor de 'i' é 24.
O valor de 'i' é 25.
O valor de 'i' é 26.
O valor de 'i' é 27.
O valor de 'i' é 28.
O valor de 'i' é 29.
O valor de 'i' é 30.
O valor de 'i' é 31.
O valor de 'i' é 32.
O valor de 'i' é 33.
O valor de 'i' é 34.
O valor de 'i' é 35.
O valor de 'i' é 36.
O valor de 'i' é 37.
O valor de 'i' é 38.
O valor de 'i' é 39.
O valor de 'i' é 40.
O valor de 'i' é 41.
O valor de 'i' é 42.
O valor de 'i' é 43.
O valor de 'i' é 44.
O valor de 'i' é 45.
O valor de 'i' é 46.
O valor de 'i' é 47.
O valor de 'i' é 48.
O valor de 'i' é 49.
O valor de 'i' é 50.
O valor de 'i' é 51.
O valor de 'i' é 52.
O valor de 'i' é 53.
O valor de 'i' é 54.
O valor de 'i' é 55.
O valor de 'i' é 56.
O valor de 'i' é 57.
O valor de 'i' é 58.
O valor de 'i' é 59.
O valor de 'i' é 60.
Cheguei a 60, parando o loop.

In [319]:
contador = 0
soma = 0

while contador <= 100:
  
    if soma >= 2600:
        print("iteração ",contador)
        print("soma ", soma)
        break
    else:
        soma += contador

    contador += 1

iteração  73
soma  2628

In [320]:
clientes = 0
valor_recebido = 0

while valor_recebido < 100:
    print('Venda mais!')
    clientes += 1
    valor_recebido = clientes * 4.99
else:
    print('Meta alcançada!!')
    print('QTD DE CLIENTES',clientes)

Venda mais!
Venda mais!
Venda mais!
Venda mais!
Venda mais!
Venda mais!
Venda mais!
Venda mais!
Venda mais!
Venda mais!
Venda mais!
Venda mais!
Venda mais!
Venda mais!
Venda mais!
Venda mais!
Venda mais!
Venda mais!
Venda mais!
Venda mais!
Venda mais!
Meta alcançada!!
QTD DE CLIENTES 21

In [321]:
primeira_lista = [1,2,3,4,5]
segunda_lista = [10,20,30,40,50]

for i in primeira_lista:
    for j in segunda_lista:
        print(i,j)

1 10
1 20
1 30
1 40
1 50
2 10
2 20
2 30
2 40
2 50
3 10
3 20
3 30
3 40
3 50
4 10
4 20
4 30
4 40
4 50
5 10
5 20
5 30
5 40
5 50

In [322]:
i = 0

ls = []

primeira_lista = [1,2,3,4,5]

while i < 10:
    for valor in primeira_lista:
        ls.append(valor)

    i += 1

In [324]:
[x for x in range(20)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [329]:
a = 'essa é a nossa segunda aula de python'

for idx in range(len(a.split())):
    print(a.split()[idx+1])

é
a
nossa
segunda
aula
de
python

IndexError: list index out of range

In [330]:
range(len(a.split()))

range(0, 8)

In [331]:
list(enumerate(a.split()))

[(0, 'essa'),
 (1, 'é'),
 (2, 'a'),
 (3, 'nossa'),
 (4, 'segunda'),
 (5, 'aula'),
 (6, 'de'),
 (7, 'python')]

# Funções

In [13]:
def minha_primeira_funcao(quantidade_de_pontos,string_de_saida):
    print('O início de um sonho!')
    
    for _ in range(quantidade_de_pontos):
        print('.')
    
    print(string_de_saida)

In [17]:
minha_primeira_funcao(quantidade_de_pontos = 15, string_de_saida = 'Essa é a nova mensagem de saída 22')

O início de um sonho!
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
Essa é a nova mensagem de saída 22

In [20]:
minha_primeira_funcao(15,string_de_saida = 'abc')

O início de um sonho!
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
abc

In [57]:
def power(x,y=2):
    
    resultado = x**y
    
    return resultado

In [63]:
def operacoes(x,y):
    return x**y, x+y, x-y, x/y

In [71]:
potencia, adicao, subtracao, divisao = operacoes(10,5)

In [66]:
potencia

100000

In [67]:
adicao

15

In [68]:
subtracao

5

In [69]:
divisao

2.0

In [72]:
power(5,10)

9765625

In [73]:
potencia = power(5,10)

In [74]:
potencia

9765625

In [75]:
type(potencia)

int

In [77]:
def hello_world():
    print('Hello World!')

hello_world()

Hello World!

In [78]:
def hello_person(nome):
    print(f'Hello {nome}!')

In [79]:
hello_person(nome = 'Maria')

Hello Maria!

In [80]:
def calculadora(valor1,valor2,operacao):
    if operacao == 'soma':
        print(valor1+valor2)
    elif operacao == 'divisao':
        print(valor1/valor2)
    elif operacao == 'multiplicacao':
        print(valor1*valor2)
    elif operacao == 'subtracao':
        print(valor1-valor2)

In [81]:
calculadora(valor1=15,valor2=16)

TypeError: calculadora() missing 1 required positional argument: 'operacao'

In [82]:
calculadora(valor1=15,valor2=16,operacao='soma')

31

In [83]:
calculadora(15,16,'soma')

31

In [84]:
calculadora(operacao='soma',valor1=10,valor2=8)

18

In [85]:
calculadora(operacao='soma',10,8)

SyntaxError: positional argument follows keyword argument (<ipython-input-85-ae5f18dafefc>, line 1)

In [86]:
def calculadora(valor1, valor2, operacao='soma'):

    if operacao == 'soma':
        print(valor1+valor2)
    elif operacao == 'divisao':
        print(valor1/valor2)
    elif operacao == 'multiplicacao':
        print(valor1*valor2)
    elif operacao == 'subtracao':
        print(valor1-valor2)

In [87]:
calculadora(100,10)

110

In [88]:
def minha_soma(valor1,valor2):
    valor1+valor2

def minha_soma_return(valor1,valor2):
    resultado = valor1 + valor2

    return resultado

In [90]:
x = minha_soma(10,10)
print(x)
print(type(x))

None
<class 'NoneType'>

In [91]:
x = minha_soma_return(10,10)
print(x)
print(type(x))

20
<class 'int'>

In [97]:
import meu_mod as md

In [94]:
func1(1,5)

valor 2 é maior

5

In [98]:
md.func1(1,5)

valor 2 é maior

5